.feature {
  margin-bottom: 266px;
  &-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-item + .feature-item {
    margin-top: 230px;
  }
  &-content {
    max-width: 420px;
    width: 100%;
  }
  &-image {
    transform: translateX(-56px);
  }
  &-desc {
    margin-bottom: 37px;
  }
  &-item:nth-child(even) {
    flex-direction: row-reverse;
    .feature-image {
      transform: translateX(28px);
    }
    .feature-content {
      padding-left: 90px;
      max-width: 510px;
    }
    .feature-heading {
      max-width: 254px;
    }
  }
  @media screen and (max-width: 1023px) {
  }
}
