.feature {
  &-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-content {
    max-width: 450px;
    width: 100%;
  }
  &-desc {
    margin-bottom: 37px;
  }
}
