.menu {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 0 40px;
  &-link {
    color: inherit;
    font-size: 18px;
    transition: all 0.2s linear;
    font-weight: 400;
    &:hover {
      color: $black;
      font-weight: bold;
    }
  }
  @media screen and (max-width: 767px) {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 9;
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    width: 300px;
    flex-direction: column;
  }
}
