.menu {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 0 40px;
  &-link {
    color: inherit;
    font-size: 18px;
    transition: all 0.2s linear;
    font-weight: 400;
    &:hover {
      color: $black;
    }
  }
}
